header {
	background: whitesmoke;
	padding: 20px 0;
}

header > h1 {
    font-size: 250%;
    padding: 5px, 10px;
    text-indent: 25px;
    color: black;
}

section {
    display: inline-block;
	width: 100%;
}

section > div {

	width: 100%;
    height: 800px;
    background: linear-gradient(black,darkorange 30%,snow,black,darkorange,black,darkorange,black);
    margin: 0px;
    padding: 0px;
}

.gradient1 {
    background: linear-gradient(black,darkorange 30%,snow,black,darkorange,black,darkorange,black);
}

.gradient2 {
    background: linear-gradient(rgb(36,15,0) 66% ,whitesmoke, yellow);
}

.gradient3 {
    background: radial-gradient(rgb(93,95,34) 35%, green 20%);
}

.gradient4 {
    background: linear-gradient(to bottom,grey,white);
}

.gradient5 {
    background: radial-gradient(royalblue,seagreen,royalblue,limegreen,royalblue,limegreen);
}

.gradient6 {
    background: linear-gradient(to right, white,black,white,black,white);
}

.gradient7 {
    background: linear-gradient(red,orange,yellow,green,blue,indigo,violet);
} 

.gradient8 {
    background: linear-gradient(to left, Chartreuse, salmon);
} 

.imagem1 {
    background-image: url("tigre.jpg");
    background-size: cover;
}

.imagem2 {
    background-image: url("eagle.gif");
    background-size: cover;
}

.imagem3 {
    background-image: url("palmtree.jpg");
    background-size: cover;
}

.imagem4 {
    background-image: url("dolphin.gif");
    background-size: cover;
}

.imagem5 {
    background-image: url("peacock.png");
    background-size: cover;
}

.imagem6 {
    background-image: url("badger.jpg");
    background-size: cover;
}

.imagem7 {
    background-image: url("arcoiris.jpg");
    background-size: cover;
}

.imagem8 {
    background-image: url("frog.gif");
    background-size: cover;
}

footer {
    background: whitesmoke;
	text-align: center;
	padding: 40px 0;
}